body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3,h4,p{
    margin: 0;
}
ul, ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    display: block;
}
.site-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-wraper{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.addres-block{
    display: flex;
}
.logo{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    padding: 25px 0;
    margin-right: 76px;
    color: #4d5ae5
}
.header-logo {
    color: #2e2f42;
}
.footer-logo {
    color: #f4f4fd;
}
.navigate {
    font-weight: 500;
    letter-spacing: 0.32px;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.navigate:hover,
.navigate:focus {
    color: #404bbf;
}
.deze{
    position: relative;
    color: #404bbf;
}
.deze::after{
    position: absolute;
    display: block;
    content: '';
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    bottom: -1px;
}
.header-addres{
    font-style: normal;
}
.addres-block {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    letter-spacing: 0.32px;
}
.addres-block-item{
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.addres-block-item:hover,
.addres-block-item:focus {
    color: #404bbf;
}
.hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 188px 0;
    margin: auto;
}

.hero-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color:#FFFfff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.hero-button:hover, 
.hero-button:focus {
    background-color: #404BBF;
}
.about-as{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-as-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.about-as-block{
    width: calc((100% - 72px) / 4);
}
.about-as-icon{
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    line-height: 0;
}
/* .svg-about-icon{
    width: 64px;
    height: 64px;
} */
.list-item{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    color: #2e2f42;
}
.list-text{
    color: #434455;
    letter-spacing: 0.32px;
    text-align: left;
}
.our-team{
    background-color: #F4F4FD;
    padding: 120px 0
}
.section-head{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 72px;
}
.list-position{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.item-paddind{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-social{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.socsai-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    line-height: 0;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.icon{
    fill:#f4f4fd;
}
.socsai-icons:hover{
    background-color: #404bbf;
}
.socsai-icons:focus{
    background-color: #404bbf;
}
.item-paddind-text{
    padding: 32px 0;
}
.portfolio{
    padding: 120px 0 120px 0;
}
.add-gaps{
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-text{
    text-align: left;
}
.conteiner-for-overlay{
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover .overlay{
    transform: translateY(0%);
}
.overlay{
    position: absolute;
    display: block;
    top: 0;
    padding: 40px 32px;
    background: #4D5AE5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    min-height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-conteiner{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.footer-logo-cont{
    margin-right: 120px;
}
.footer-style{
    height: 312px;
    background:#2E2F42;
    padding: 100px 0;
}
.footer-socsai-p{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}
.footer-text{
    max-width: 264px;
    color:#F4F4FD;
    letter-spacing: 0.32px;
}
.footer-logo-style{
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
.fgap{
    gap: 16px;
}
.ficons{
    width: 40px;
    height: 40px;
    padding: 0;
}
.ficons:hover{
    background-color: #31d0aa;
}
.ficons:focus {
    background-color: #31d0aa;
}
.footer-social-cont{
    margin-right: 80px;
}
.footer-form{
    display: flex;
    gap: 24px;  
}
.footer-mail-form{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 12px 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
}
.footer-mail-form::placeholder{
    color: #ffffff;
}
.footer-button{
    height: 40px;
    min-width: 165px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color:  #ffffff;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.footer-button:hover,
.footer-button:focus {
    color: #4D5AE5;
    background-color: #ffffff;
}
.footer-button-icon{
    margin-left: 16px;
    fill: #ffffff;
}
.footer-button:hover .footer-button-icon,
.footer-button:focus .footer-button-icon{
    fill: #4D5AE5;
}

/* modal style */

.modal-cont{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.40);
    height: 100%;
    width: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-win{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    gap: 16px;
    background-color: #FCFCFC;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-label{
    display: block;
    margin-bottom: 4px;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
}
.modal-form-input-cont{
    position: relative;
}
.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-icon-close,
.modal-close:focus .modal-icon-close{
    fill: #ffffff;
}
.modal-close-cont{
    height: 26px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.modal-head{
    color:  #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-form-cont{
    margin-bottom: 8px;
}
.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
}
.modal-input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-area{
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-form-cont-area{
    margin-bottom: 16px;
}
.modal-form-cont-check{
    margin-bottom: 24px;
}
.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-input-icon{
    fill: #4D5AE5;
}
.privacy-policy-check-lable{
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.check-box{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.checked:checked+ .privacy-policy-check-lable .check-box{
    background-color: var(--OCEAN, #404BBF);
    border: none;
    fill: var(--CLOUD, #F4F4FD);;
}
.privacy-policy-linc{
    color:  #4D5AE5;
    text-decoration-line: underline;
}
.modal-button{
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    padding: 16px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFFfff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 8px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover{
    background: #FFFfff;
    color: #4D5AE5;
}